* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background: linear-gradient(#007acc,#6DD5FA,#FFFFFF);

  color: #0c0909;
}
.container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px 52px;
  display: flex;
  width: 35rem;
  position: relative;
  top: 40px;

  margin: 20px 10% 0px 30%;
  flex-direction: column;
  background: #1e1e1e;
}

.main {
  border: 0.5px solid black;
  background-color: black;

  color: white;

  text-align: center;

  position: relative;
  font-weight: bold;
}

ul.point {
  list-style-type: none;
}
#heading {
  position: relative;
  text-decoration: none;
  top: 25px;
font-size: xx-large;
  font-weight: 600;
}
.home {
  list-style-type: none;
  text-align: end;
  position: relative;

  color: #140b0b;
  font-size: large;

  bottom: 10px;
  right: 10px;
}
#about {
  position: relative;
  left: 35%;
}
body > nav > div > ul > li:nth-child(1) > a{
  top: 4px;
  font-size:larger;
  font-weight: 100;
  position: relative;
  right: 6%;
  color: white;
}
body > nav > div > ul > li:nth-child(2) > a{
  font-size:larger;
  font-weight: 100;
  position: relative;
  bottom: 20px;
  color: white;
}
a.active, a:hover{
  background: #028df7;
  transition: .5s;
}


.text{
  color: white;
}
#about{
  color: white;
}